# SPDX-License-Identifier: MIT
# SPDX-FileCopyrightText: Copyright (c) 2018-current Ryan M. Lederman

# Global
@aremmell

# Gitlab CI
.gitlab-ci/         @johnsonjh
.gitlab-ci.yml      @johnsonjh

# GNU Make
Makefile            @johnsonjh
*.mk                @johnsonjh
build-aux/          @johnsonjh

# Lint
.lint.sh            @johnsonjh

# Coveralls
.coveralls.h        @johnsonjh

# Bindings
#  Ch
bindings/ch/        @johnsonjh

#  factor
bindings/factor/    @johnsonjh

#  Python
bindings/python     @aremmell
