# EditorConfig: https://editorconfig.org/
# SPDX-License-Identifier: MIT
# SPDX-FileCopyrightText: Copyright (c) 2018-current Ryan M. Lederman
root = true

[*.{c,cc,ch,chf,chi,h,hh,i,py,sh}]
charset = utf-8
end_of_line = lf
indent_style = space
insert_final_newline = true
max_line_length = 132
trim_trailing_whitespace = true

[.gitlab-ci/msvc/vsdownload.py]
charset = utf-8
end_of_line = lf
indent_style = space
insert_final_newline = true
max_line_length = 256
trim_trailing_whitespace = true

[*.yml]
charset = utf-8
end_of_line = lf
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[Dockerfile]
charset = utf-8
end_of_line = lf
indent_style = space
insert_final_newline = true
max_line_length = 132
trim_trailing_whitespace = true

[.gitlab-ci/base/Dockerfile]
charset = utf-8
end_of_line = lf
indent_style = space
insert_final_newline = true
max_line_length = 256
trim_trailing_whitespace = true
