# SPDX-License-Identifier: MIT
# SPDX-FileCopyrightText: Copyright (c) 2018-current Ryan M. Lederman

autoformat.sh linguist-vendored
build-aux/** linguist-vendored
.clang-format linguist-vendored
.coveralls.sh linguist-vendored
.coverity.sh linguist-vendored
docs/** linguist-vendored
.editorconfig linguist-vendored
.github linguist-vendored
.gitlab-ci/** linguist-vendored
.gitlab-ci.yml linguist-vendored
LICENSES/** linguist-vendored
.lint.sh linguist-vendored
Makefile linguist-vendored
msvs/** linguist-vendored
.reuse linguist-vendored
sir.code-workspace linguist-vendored
sirplatform.mk linguist-vendored
utils/mcmb/** linguist-vendored
.vscode linguist-vendored
*.ch linguist-language=C
*.chf linguist-language=C
*.chi linguist-language=C
