# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# build products
build/

# compiled documentation
docs/html/
docs/xml/
index.md

# test artifacts
*.log

# annoying macOS files
.DS_Store

# Visual Studio temporary files
.vs/
*.user
