# SPDX-License-Identifier: MIT
# SPDX-FileCopyrightText: Copyright (c) 2018-current Ryan M. Lederman

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# build products
build/

# compiled documentation
docs/html/
docs/xml/
index.md

# test artifacts
*.log
logs/

# annoying macOS files
.DS_Store

# Visual Studio files
.vs/
msvs/libsir*.user
msvs/plugin*.user

# ReSharper caches
_ReSharper.Caches/

# Emacs temporary files
*.bak
*~

# Automatic dependencies
*.d

# Advpng temporary files
*.png.tmp*

# Cppcheck
cppcheck/
cppcheck.xml
.extra.sh

# Oracle Lint
*.ln
orstlint.txt

# Clang Analzyer
.scan-build.sh

# PVS
compile_commands.json
*.pvs
pvsreport/*

# Coverage
*.gcno
*.gcda
coveralls.json
run*.json
coverage-out*.*
coveralls

# Coverity
.coverity
cov-int

# Direnv
.envrc

# SWIG
swig/python/__pycache__
