# SPDX-License-Identifier: MIT
# SPDX-FileCopyrightText: Copyright (c) 2018-current Ryan M. Lederman

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# build products
build/

# compiled documentation
docs/html/
docs/xml/
index.md

# test artifacts
*.log
logs/

# annoying macOS files
.DS_Store

# Visual Studio temporary files
.vs/
*.user

# ReSharper caches
_ReSharper.Caches/

# Emacs temporary files
*.bak
*~

# Automatic dependencies
*.d

# Advpng temporary files
*.png.tmp*

# Oracle Lint
*.ln

# PVS
compile_commands.json
*.pvs

# Coverage
*.gcno
*.gcda
coveralls.json
run*.json
coverage-out*.*
coveralls

# Coverity
.coverity
cov-int
