# .gitattributes

################################################################################
#
# Version: 2.2.5
#
################################################################################
#
# SPDX-License-Identifier: MIT
#
# Copyright (c) 2018-2024 Ryan M. Lederman <lederman@gmail.com>
# Copyright (c) 2018-2024 Jeffrey H. Johnson <trnsz@pobox.com>
#
# Permission is hereby granted, free of charge, to any person obtaining a copy of
# this software and associated documentation files (the "Software"), to deal in
# the Software without restriction, including without limitation the rights to
# use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of
# the Software, and to permit persons to whom the Software is furnished to do so,
# subject to the following conditions:
#
# The above copyright notice and this permission notice shall be included in all
# copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS
# FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR
# COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER
# IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN
# CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
#
################################################################################

autoformat.sh linguist-vendored
build-aux/** linguist-vendored
.clang-format linguist-vendored
.coveralls.sh linguist-vendored
.coverity.sh linguist-vendored
docs/** linguist-vendored
.editorconfig linguist-vendored
.github linguist-vendored
.gitlab-ci/msvc/msvctricks.cpp linguist-vendored
.gitlab-ci/** linguist-vendored
.gitlab-ci/msvc/** linguist-vendored
.gitlab-ci.yml linguist-vendored
LICENSES/** linguist-vendored
.lint.sh linguist-vendored
Makefile linguist-vendored
msvs/** linguist-vendored
.reuse linguist-vendored
sir.code-workspace linguist-vendored
sirplatform.mk linguist-vendored
utils/mcmb/** linguist-vendored
.vscode linguist-vendored
*.ch linguist-language=C
*.chf linguist-language=C
*.chi linguist-language=C
.sonarcloud.properties linguist-vendored
.semgrepignore linguist-vendored
.gitignore linguist-vendored
.gitattributes linguist-vendored
.editorconfig linguist-vendored
.clang-format linguist-vendored
*.code-workspace linguist-vendored
